.activeBtn{
    background-color: white;
    color: #9538E2;
}
.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
    background-color: #9538E2!important;
}